<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <p class="lead">Qadroid - Discussions</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-10">
            <div class="thumbnail">
                <div class="caption-full">
                    <h4><a><%=discussion.title%></a></h4>
                    <p><%= discussion.description %></p>
                    <p><em>Submitted by <%= discussion.author.name %></em></p>
                    <img class="img-responsive" src="<%= discussion.image %>">
                    <% if(currentUser && discussion.author.id && discussion.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-xs btn-warning" href="/discussions/<%= discussion._id %>/edit">Edit</a>
                        <form id="delete-form" action="/discussions/<%= discussion._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% }%>
                </div>
            </div>
            
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1" id="logout">
                <div class="comment-tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#comments" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Comments</h4></a></li>
                        <li><a href="#add-comment" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Add comment</h4></a></li>
                    </ul>            
                    <div class="tab-content">
                        <div class="tab-pane active" id="comments">                
                            <ul class="media-list">
                                <% discussion.comments.forEach(function(comment){ %>
                                     <li class="media">
                                        <a class="pull-left" href="#">
                                          <img class="media-object img-circle" src="<%= comment.author.avatar %>" alt="profile">
                                        </a>
                                        <div class="media-body">
                                          <div class="well well-lg">
                                              <h4 class="media-heading text-uppercase reviews"> <%= comment.author.firstName + " " + comment.author.lastName %> </h4>
                                              <ul class="media-date text-uppercase reviews list-inline">
                                                <li class=""><%= comment.date %></li>
                                              </ul>
                                              <p class="media-comment">
                                                <%= comment.text %>
                                              </p>
                                              <div class="embed-responsive embed-responsive-16by9">
                                                  <iframe class="embed-responsive-item" src="<%= comment.media %>" allowfullscreen></iframe>
                                              </div>
                                              <a class="btn btn-info btn-circle text-uppercase" data-toggle="collapse" href="#replyToComment" id="reply"><span class="glyphicon glyphicon-share-alt"></span> Reply</a>
                                              
                                              <% var replyCount = comment.replies.length; %>
                                              <% var replyText; %>
                                              <% if(replyCount > 0) { 
                                                    if(replyCount > 1) { 
                                                        replyText = "Replies"; 
                                                    } else { 
                                                        replyText = "Reply"; 
                                                    } %>
                                                  <a class="btn btn-warning btn-circle text-uppercase" data-toggle="collapse" href="#replyOne"><span class="glyphicon glyphicon-comment"></span> <%= comment.replies.length %> <%= replyText %></a>
                                              <% } %>   
                                              
                                          </div>              
                                        </div>
                                        <div class="collapse" id="replyToComment">
                                            <form action="/discussions/<%= discussion._id %>/comments/<%= comment._id %>/replies" method="post" class="form-horizontal" id="replyForm" role="form"> 
                                                <div class="form-group">
                                                    <label for="reply[text]" class="col-sm-2 control-label">Reply</label>
                                                    <div class="col-sm-10">
                                                      <textarea class="form-control" name="reply[text]" id="reply" rows="5"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="reply[media]" class="col-sm-2 control-label">Upload media</label>
                                                    <div class="col-sm-10">                    
                                                        <div class="input-group">
                                                          <div class="input-group-addon"></div>
                                                          <input type="text" class="form-control" name="reply[media]" id="media">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-offset-2 col-sm-10">                    
                                                        <button class="btn btn-success btn-circle text-uppercase" type="submit" id="submitComment"><span class="glyphicon glyphicon-send"></span> Summit Reply</button>
                                                    </div>
                                                </div>            
                                            </form>  
                                        </div>
                                        
                                        <div class="collapse" id="replyOne">
                                            <ul class="media-list">
                                                <% comment.replies.forEach(function(reply){ %>
                                                    <li class="media media-replied">
                                                        <a class="pull-left" href="#">
                                                          <img class="media-object img-circle" src="<%= reply.author.avatar %>" alt="profile">
                                                        </a>
                                                        <div class="media-body">
                                                          <div class="well well-lg">
                                                              <h4 class="media-heading text-uppercase reviews"><span class="glyphicon glyphicon-share-alt"></span> <%= reply.author.firstName + " " + reply.author.lastName %> </h4>
                                                              <ul class="media-date text-uppercase reviews list-inline">
                                                                <li class=""><%= reply.date %></li>
                                                              </ul>
                                                              <p class="media-comment">
                                                                <%= reply.text %>
                                                              </p>
                                                              <div class="embed-responsive embed-responsive-16by9">
                                                                  <iframe class="embed-responsive-item" src="<%= comment.media %>" allowfullscreen></iframe>
                                                              </div>
                                                          </div>              
                                                        </div>
                                                    </li>
                                                <% }) %>
                                            </ul>  
                                        </div>
                                    </li>         
                                <% }) %>
                            </ul> 
                        </div>
                        
                        <div class="tab-pane" id="add-comment">
                            <form action="/discussions/<%= discussion._id %>/comments/" method="post" class="form-horizontal" id="commentForm" role="form"> 
                                <div class="form-group">
                                    <label for="comment[text]" class="col-sm-2 control-label">Comment</label>
                                    <div class="col-sm-10">
                                      <textarea class="form-control" name="comment[text]" id="comment" rows="5"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="comment[media]" class="col-sm-2 control-label">Upload media</label>
                                    <div class="col-sm-10">                    
                                        <div class="input-group">
                                          <div class="input-group-addon"></div>
                                          <input type="text" class="form-control" name="comment[media]" id="media">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">                    
                                        <button class="btn btn-success btn-circle text-uppercase" type="submit" id="submitComment"><span class="glyphicon glyphicon-send"></span> Summit comment</button>
                                    </div>
                                </div>            
                            </form>
                        </div>
                    </div>
                </div>
        	</div>
          </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>